<header>
  <nav class='navbar'>
     <ul class='navlist'>
        <li class='navitem logo'><a href='/'>Bolt</a></li>
        <li class='navitem login' id='loginButton'>Login</li>
        <li class='navitem signup' id='signupButton'> Sign up</li>
        <li class='navitem create' id='createButton'><a href='/classes'>Create</a></li>
    </ul>
  </nav>
</header>
