<!DOCTYPE HTML>

<html>
<head>
   <meta charset="utf-8">
   <title>Bolt</title>

   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
   <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
   <link rel="stylesheet" href="/index.css">
   <link rel="stylesheet" href={{stylesheet2}}>

   <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/assets/iconfavicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
   <link rel="manifest" href="assets/icon/manifest.json">
   <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
   <meta name="theme-color" content="#ffffff">
 </head>

<body>

   {{{body}}}

</body>

   <script src="/index.js" charset="utf-8"></script>
   <script src="{{script2}}" charset="utf=8"></script>


<footer>
   <nav class='socialMedia-Bar'>
      <img class='socialIcon' src='/assets/icon/twittericon.png' />
      <img class='socialIcon' src='/assets/icon/facebookicon.png' />
      <img class='socialIcon' src='/assets/icon/instagramicon.png' />
      <img class='socialIcon' src='/assets/icon/youtubeicon.png' />
   </nav>
</footer>

</html>
