main{
   margin: 20px 20px 20px 20px;
   text-align: center;
}

.boltContainer {
   margin-left: 30%;
   margin-right: 30%;
}

.boltCard {
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
   padding: 10px 10px 10px 10px;
}

.term {
   color: #1d6bf2;
   text-decoration: underline;
   display: inline;
   margin: 10px 10px 10px 10px;
   font-size: 20px;
}

.definition {
   display: inline;
   margin: 10px 10px 10px 10px;
   font-size: 20px;
}
