
  {{> header}}

  <div class='banner'>
     <div class='banner-logo'>
        <img src='logo.jpg' alt='logo' />
     </div>
     <div class='banner-text'>
        <p>
           Bolt, <br />
           your way into a world of knowledge.
        </p>
     </div>
  </div>

  <div class='featureContainer'>
     <div class='feature'>
        <p>
           Feature 1: You set the line-height as we did above (It’ll need to be greater
           than the height of the image) and then set vertical-align:
           middle on the image.
        </p>
     </div>

     <div class='feature'>
        <p>
           Feature 2: You set the line-height as we did above (It’ll need to be greater
           than the height of the image) and then set vertical-align:
           middle on the image.
        </p>
     </div>

     <div class='feature'>
        <p>
           Feature 3: You set the line-height as we did above (It’ll need to be greater
           than the height of the image) and then set vertical-align:
           middle on the image.
        </p>
     </div>
  </div>

  {{> loginModal}}
