
  {{> header}}

  <div class='banner'>
     <div class='banner-logo'>
        <img src='logo.jpg' alt='logo' />
     </div>
     <div class='banner-text'>
        <p>
           Bolt, <br />
           your way into a world of knowledge.
        </p>
     </div>
  </div>

  <div class='featureContainer'>
     <div class='feature'>
        <p>
          Bolt provides free study tools for students, teachers, and learners of all
          ages that can be used in and out of the classroom.
        </p>
     </div>

     <div class='feature'>
        <p>
           Bolt's core tools are completely free to use, we also offer optional
           upgrades that give you access to more advanced features!
        </p>
     </div>

     <div class='feature'>
        <p>
           Teachers, using Bolt is an effective way to get your students further engaged
           in what they're learning both in the classroom and at home.
        </p>
     </div>
  </div>

  {{> loginModal}}
