.addSetContainer {
   background-color: rgba(0, 0, 0, 0.10);
   padding-top: 3px;
   padding-bottom: 3px;
   text-align: center;
}

.addSetContainer:hover {
   background-color: rgba(0, 0, 0, 0.30);
   cursor: pointer;
}

.addSetButton {
   color: black;
   font-size: 18px;
}
